.headerLeft {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1.8rem;
  padding-right: 5.5rem;
  background-color: #2b2c37;
  color: white;
  width: 18.5rem;
  box-sizing: border-box;
}
:global(#light) .headerLeft {
  background-color: white;
  color: black;
}
.logo {
  height: 40px;
}
.appName {
  font-size: 2rem;
  font-weight: 700;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1.5rem;
  background-color: #2b2c37;
  color: white;
  flex-grow: 1;
  overflow: hidden;
}
:global(#light) .headerRight {
  background-color: white;
  color: black;
}
.title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.addTaskBtn {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: #635fc7;
  padding: 0.9rem 1.7rem;
  border-radius: 2rem;
  position: relative;
  flex-shrink: 0;
}
.addTaskBtn:hover {
  background-color: #7471d2;
}
.menuBtn {
  color: #828fa3;
  padding: 0.5rem;
  border-radius: 50%;
}
.menuBtn:hover {
  background-color: rgba(255, 255, 255, 0.135);
}
:global(#light) .menuBtn:hover {
  background-color: rgba(0, 0, 0, 0.135);
}
